body {
  background-color: #2b2b2b;
  color: white;
  font: normal 12pt Arial;
  text-align: center;
}

h2 {
  font: bold 32pt Arial;
  margin: 2rem;
}

p {
  line-height: 1.8;
}

.lista {
  margin: auto;
  display: inline-block;
  width: fit-content;
  line-height: 1.5;
}

li {
  text-decoration: none;
  list-style-type: none;
  font-size: 12pt;
  padding: .4rem;
  text-align: left;
  padding-left: auto;
  padding-right: auto;
  transition: .2s;
}

li:hover {
  transform: scale(1.1);
}

a {
  text-decoration: none;
  color: rgb(75, 153, 255);
  transition: .2s;
}

a:hover {
  color: white;
  transform: scale(1.4);
}
