
h1 {
  text-align: center;
}

h2 {
  padding-left: 4rem;
}

.ordenada,
.nao-ordenada, .mista, .jogo {
  font-size: 10pt;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

div p {
  text-align: center;
}

@media (min-width: 400px) {
  body {
    margin:1rem 10%;
  }

  .ordenada,
  .nao-ordenada, .mista, .jogo {
    font-size: 13pt;
  }
}