body {
  font: 15pt Arial;
}

.hs {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding-bottom: 0;
}

.hs h1, .hs h2, .hs h3, .hs h4 {
  font-size: 2rem;
  text-decoration: none;
  padding: .3rem;
}

div {
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 2rem;
}

h1 {
  color: rgb(218, 37, 37);
}

h2 {
  color: rgb(41, 206, 206);
  padding-left: 1rem;
}

h3 {
  color: rgb(69, 197, 31);
  padding-left: 2rem;
}

h4 {
  color: brown;
  padding-left: 3rem;
}

.p-h2 {
  padding-left: 1rem;
}

.p-h3 {
  padding-left: 2rem;
}

.p-h4 {
  padding-left: 3rem;
}

div p {
  text-align: center;
}

@media (min-width: 1100px) {
  div {
    padding-left: 8rem;
    padding-right: 8rem;
  }
}