body {
  text-align: start;
}

img {
  border-radius: 50%;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  height: 1.4rem;
}

li img {
  margin-right: .3rem;
}

li a {
  margin-right: .3rem;
  font-weight: bold;
  text-decoration: none;
}

li p{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

@media (max-width: 430px) {
  body {
    font-size: 10pt;
  }
}