@charset "UTF-8";

body {
  background-color: rgb(119, 188, 211);
}

h1 {
  color: rgb(210, 188, 255);
  background-color: rgb(89, 135, 150);
}

h2 {
  color: darkred;
}

p {
  text-align: justify;
}

.navegacao {
  margin-top: 2rem;

}

.navegacao a {
  background-color: green;
  color: white;
  padding: .6rem 1.2rem;
  border-radius: .4rem;
  text-decoration: none;
  margin-top: 2rem;
  transition: .2s;
}

.navegacao a:hover {
  background-color: darkgreen;
}

.botao {
  text-align: center;
  margin-top: 3rem;
}