.button-intern a{
  background-color: rgb(250, 79, 79);
  color: white;
  padding: .5rem 1.2rem;
  text-decoration: none;
  cursor: pointer;
  border-radius: .3rem;
  transition: .2s;
}

.button-intern:hover a{
  background-color: red;
}